
.box button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
    border-radius: 25px;
    padding: 10px;
    align-items: center;
    display: flex;
    border: none;
}

.box input {
	border-radius: 25px;
	border: none;
	padding-left: 20px;
}